---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/shared/Navbar';
import ScrollProgress from '../components/scroll/ScrollProgress';
import Hero from '../components/sections/Hero';
import About from '../components/sections/About';
import Projects from '../components/sections/Projects';
import Skills from '../components/sections/Skills';
import Contact from '../components/sections/Contact';
import Footer from '../components/shared/Footer';

import '../styles/global.css';
---

<Layout title="ECC97 | Portfolio">
	<ScrollProgress client:load />
	<Navigation client:load />
	<main>
		<Hero client:load />
		<About client:load />
		<Projects client:load />
		<Skills client:load />
		<Contact client:load />
	</main>
	<Footer client:load />
</Layout>
